@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Cafe24Supermagic-Bold-v1.0", cursive;
}

.title {
  text-align: center;
  font-size: 50px;
}

/* 버튼 */
button {
  float: right;
  width: 50px; /* 원하는 폭으로 조정하세요 */
  height: 40px; /* 원하는 높이로 조정하세요 */
  font-size: 16px;
  
}

.main_text1 {
  width: 100%;
  height: 659x;
}
.main_text1 > h1 {
  padding-top: 50px;
  text-align: center;
}
.main_text1 > .contents1 {
  text-align: center;
}



.introduce {
  width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  margin: 49px auto;
  height: 49px 460px;
  
}

.introduce > .contents2 {
  flex: 1;
  padding: 20px;
  text-align: center;
}

/* 사진 크기 조절 */
.my_photo img {
  width: 400px;
  height: 400px;
 
}

.my_self {
    text-align: center;
}
.my_style {
    text-align: center;
}
